/* GENERICS */
header{
    height: 100px;
}

footer{
    min-height: 100px;
}
/* Utility */
.bg-aqua{
    background-color: rgb(26,188,156);
}
.bg-darkblue{
    background-color: rgb(44,62,80) ;
}
/* Jumbo */
#Jumbotron img{
    width: 250px;
}

.line{
    height: 5px;
    width: 100px;
    border-radius: 10px;
    vertical-align: middle;
    margin: 0 20px;
}
/* portfolio */
#portfolio .line,
#contact .line{
    background-color:rgb(33,37,41) ;
}

/* CONTACT */
#contact ::placeholder{
    color: black;
    font-weight: 600;
}
.btn:hover{
    background-color: rgb(26,188,156);
}
/* LOCATION */
.location{
    background-color: rgb(58,84,109);
}
.location i{
    border-radius: 50%;
    padding: 10px 15px;
    margin-left: 5px;
    font-size: 20px;
    border: 1px solid white;
}
.location a{
    color: rgb(26,188,156);
}