/* GENERICS */
header{
    height: 100px;
    background-color: rgb(44,62,80);
}

footer{
    min-height: 50px;
    background-color: rgb(44,62,80);
    color: white;
}
/* a{
    text-decoration: none;
    color: white;
} */
/* UTILITY */
/* .row{
    height: 100%;
}  */

/* [class^="col"]{
    min-height: 40px ;
} */

.bg-aqua{
    background-color: rgb(26,188,156);
    color: white;
}
/* Jumbo */
#Jumbotron img{
    width: 250px;
}

.line{
    height: 5px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    vertical-align: middle;
    margin: 0 20px;
}
/* portfolio */
#portfolio .line{
    background-color:rgb(33,37,41) ;
}
/* ABOUT US */
.btn-outline-light:hover{
    background-color: transparent;
    color: white;
}
/* LOCATION */
.location{
    background-color: rgb(58,84,109);
    color: white;
}
.location i{
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    border: 1px solid white;
}
.location a{
    color: rgb(26,188,156);
}